<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Asul|Stardos+Stencil" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <meta charset="utf-8">
    <title>The Delta Fiber</title>
  </head>
  <body>



    <% if (currentUser) { %>
      <nav>

        <p><img src="/images/logo.png"></p>

        Resistance is futile, <%=currentUser.username%>.

        <p><a href="/yarn/new">Add yarn!</a></p>

        <form action="/sessions?_method=DELETE" method="POST">
        <button type="submit" class="nav">Logout</button>
        </form>

      </nav>

    <div class="yarn-index">

      <% for (let yarn of allYarn) { %>
        <% if (yarn.user == currentUser._id) { %>

          <div class="one-yarn">
          <p><img src="<%= yarn.img %>" class="small"></p>
          <p><%= yarn.brand %> - <%= yarn.name %></p>
          <p><a href="/yarn/<%= yarn._id %>">View full yarn info...</a></p>
          </div>


      <% } %>
      <% } %>

    </div>

    <% } else { %>
      <nav>
        <p><img src="/images/logo.png"></p>
        
        <p><a href="/sessions/login">Log in!</a> or <a href="/users/register">Sign up!</a></p>
      </nav>

      <div class="not-logged">
        <p><img src="/images/rockweed.jpg" class="not-logged-img"></p>
        <p><img src="/images/yarn1.jpg" class="not-logged-img"></p>
        <p><img src="/images/speckle.jpg" class="not-logged-img"></p>
        <p><img src="/images/srhalpacas.jpg" class="not-logged-img"></p>
        <p><img src="/images/stitch.jpg" class="not-logged-img"></p>
        <p><img src="/images/yarn2.jpg" class="not-logged-img"></p>
      </div>

    <% } %>

  </body>

</html>
